@import 'variables';


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  /*TEMPORAL*/
  font-family: $font-fami;
}

img, video {
  width: 100%;
  cursor: pointer;
}

iframe {
  z-index: 1000;
  width: 100%;
  height: 100%;
}

body {
  background-color: #fff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 80 40' width='80' height='40'%3E%3Cpath fill='%2300ffff' fill-opacity='0.24' d='M0 40a19.96 19.96 0 0 1 5.9-14.11 20.17 20.17 0 0 1 19.44-5.2A20 20 0 0 1 20.2 40H0zM65.32.75A20.02 20.02 0 0 1 40.8 25.26 20.02 20.02 0 0 1 65.32.76zM.07 0h20.1l-.08.07A20.02 20.02 0 0 1 .75 5.25 20.08 20.08 0 0 1 .07 0zm1.94 40h2.53l4.26-4.24v-9.78A17.96 17.96 0 0 0 2 40zm5.38 0h9.8a17.98 17.98 0 0 0 6.67-16.42L7.4 40zm3.43-15.42v9.17l11.62-11.59c-3.97-.5-8.08.3-11.62 2.42zm32.86-.78A18 18 0 0 0 63.85 3.63L43.68 23.8zm7.2-19.17v9.15L62.43 2.22c-3.96-.5-8.05.3-11.57 2.4zm-3.49 2.72c-4.1 4.1-5.81 9.69-5.13 15.03l6.61-6.6V6.02c-.51.41-1 .85-1.48 1.33zM17.18 0H7.42L3.64 3.78A18 18 0 0 0 17.18 0zM2.08 0c-.01.8.04 1.58.14 2.37L4.59 0H2.07z'%3E%3C/path%3E%3C/svg%3E");
}

html {
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-thumb {
  background: rgba($color-primario, 1);
}

a {
  text-decoration: none;
  color: $oscuro;
}

ul, li {
  list-style: none;
  text-decoration: none;
  color: black;
}

i {
  color: $oscuro;
  font-size: 32px;
}

.o-2 {
  order: 2;
}

//////HEADER//////

.header {
  position: relative;
  background:url(../img/fondo.jpeg) center;
  background-size: cover;
  background: radial-gradient(rgba($color-terceario, 1), #9198e5);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__nav {
    width: 100%;
    height: 3rem;
    padding: 10px;
    text-align: center;
    position: fixed;
    background: rgba($color-terceario, .8);
    backdrop-filter: blur(1.5rem);
    z-index: 100;
  }

  &__navLinks {
    
    a {
      margin: 0 15px;
      padding: 0 5px;
      color: $color-primario;
      border-bottom: 2px solid transparent;
      position: relative;

      &:hover {
        color: $color-secundario;
        border-bottom: 2px solid $color-secundario;
        transition: all 400ms ease;
      }
    }
  }

  &__title {
    height: 70%;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__h1 {
    order: 2;
    font-size: 70px;
    color: $color-secundario;
  }

  &__science {
    width: 900px;
  }

  &__wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 150px;
  }
}

//______MAIN_______________

.main {
  padding: 60px;
  margin: auto;
  display: flex;
  max-width: 880px;
  align-items: center;

  &__albert {
    min-width: 50%;
  }

  &__h2 {
    color: $color-secundario;
    display: inline-block;
    background: $color-terceario;
    padding: 3px 20px;
    border-radius: 10px 10px 10px 0px;
  }
}

.video-explicacion{
  width: 30%;
  height: 300px;
  margin: auto;
}

///////////////////////////////////////////////////////////

.temas{
  width: 50%;
  margin: auto;
  padding-top: 50px;
  text-align: center;

  &__tema {
    width: 50%;
  }

  &__duo{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
  }
}



//__________EXPERIMENTOS

.experimentos__nombre {
  text-align: center;
  text-transform: uppercase;
  font-style: italic;
  margin: -80px 20px;
  
  h2 {
    transform: translateY(50px);
    font-size: 86px;
    letter-spacing: 10px;
    color: $color-primario;
  }
}

#experimentos {
  height: 50px;
}

.experimentos {
  margin: auto;
  max-width: 80%;
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
  
  &__title {
    text-align: center;
    letter-spacing: 5px;
    font-size: 30px;
    text-transform: uppercase;
    color: $color-primario;
    font-style: italic;
    margin-bottom: 20px;
  }
  
  &__video {
    width: 480px;
    height: 270px;
    filter: drop-shadow(10px 5px 20px $color-secundario);
    
    img {
      border-radius: 20px;
    }
  }
  
  &__explicacion {
    display: inline;
    width: 600px;
    margin: 0 20px;
    
    p {
      display: inline;
    }
  } 
}

.iframe{
  text-align: center;
}

.adivinanzas{
  width: 60%;
  height: 500px;
  margin: auto;
  display: inline-block;
}

//--------FOOTER 

.footer {
  position: relative;
  height: 200px;
  background-color: $color-terceario;
  margin-top: 200px;


  &__wave {
    position: absolute;
    top: -75%;
    left: 0;
    width: 100%;
    height: 150px;
  }
}